<div class="payment_wrapper row">

  <div class="form_wrapper large-8 small-12 columns">

    <%= form_for(@purchase, remote: true, url: {action: "create"}, html: {id: "payment_details"}) do |f| %>
        <div id="payment_detail">
          <div class="header">
            <label><h3>Booking Details</h3></label>
          </div>

          <%= f.hidden_field :purchasable_id, value: @trip.id %>
          <%= f.hidden_field :purchasable_type, value: "Tour" %>

          <%= f.hidden_field :driver_id, value: @driver.id %>
          <%= f.hidden_field :vehicle_id, value: @vehicle_id %>

          <%= f.hidden_field :price, value: @price %>
          <%= f.hidden_field :reference_id, value: @reference_id %>


          <div class="row">
            <div class="form-group small-12 medium-6 columns">
              <%= f.label :start_date, "Start Date" %>
              <%= f.text_field :start_date, id: "startdate", :required => "", placeholder: 'Please enter Start Date' %>
            </div>

            <div class="form-group small-12 medium-6 columns">
              <%= f.label :address_id, "Pick Up Address" %>
              <!--<%= f.collection_select(:address_id, Address.all, :id, :name, {:prompt => 'Please select Pickup Address', :selected => @purchase.address_id}) %>-->
              <%= f.text_field :pickup, id: "address_id", :required => "", placeholder: 'Please enter Pick Up Address' %>
            </div>

            <div class="form-group small-12 medium-6 columns">
              <%= f.label :pickup_time, "Pick Up Time" %>
              <%= f.text_field :pickup_time, id: "pickuptime", :required => "", placeholder: 'Please enter Pick Up Time ( eg:8am )' %>
            </div>

            <div class="form-group small-12 medium-6 columns">
              <%= f.label :traveller_number, "No. of Travellers" %>
              <%= f.text_field :traveller_number, id: "travellernumber", :required => '', placeholder: 'Please enter No. of Travellers' %>
            </div>

          </div>

          <div class="header">
            <label><h3>Traveller Details</h3></label>
          </div>
          <div class="row">
            <div class="form-group small-12 medium-6 columns">
              <%= f.label :first_name, "First Name" %>
              <%= f.text_field :first_name, :required => "", placeholder: 'Please enter First Name' %>
            </div>

            <div class="form-group small-12 medium-6 columns">
              <%= f.label :last_name, "Last Name" %>
              <%= f.text_field :last_name, :required => "", placeholder: 'Please enter Last Name' %>
            </div>
            <!--<div class="form-group small-12 medium-6 columns">-->
              <!--<%= f.label :passport_number, "Passport Number" %>-->
              <!--<%= f.text_field :passport_number, :required => "", placeholder: 'Please enter Passport Number' %>-->
            <!--</div>-->
            <div class="form-group small-12 medium-6 columns">
              <%= f.label :nationality, "Nationality" %>
              <%= f.text_field :nationality, :required => "", placeholder: 'Please enter Nationality' %>
            </div>

            <div class="form-group small-12 medium-6 columns">
              <%= f.label :email, "Email" %>
              <%= f.email_field :email, :required => "", placeholder: 'Please enter Email' %>
            </div>

            <!--<div class="form-group small-12 medium-6 columns">-->
              <!--<%= f.label :email_confirmation, "Confirm Your Email" %>-->
              <!--<%= f.email_field :email_confirmation, :required => "", placeholder: 'Please confirm Your Email' %>-->
            <!--</div>-->

            <div class="form-group columns">
              <%= f.label :phone_number, "Phone Number", class: 'phone-label' %>
              <%= f.text_field :country_code, id: "country_code", placeholder: '+country code' %>
              <%= f.text_field :phone_number, id: "phone_number", placeholder: 'Phone number' %>
            </div>

            <div class="form-group small-12 columns">
              <%= f.label :comments, "Your Comment" %>
              <%= f.text_area :comments %>
            </div>
          </div>


        </div>
    <% end %>

    <br/>

    <h2>Payment</h2>

    <div class="row payment_box_wrapper">
      <div class="large-6 columns paypal_wrapper">
        <p>Pay With Paypal</p>
        <div id="paypal-container"></div>
      </div>

      <div class="large-6 columns cards_wrapper">
        <p>Pay With Cards</p>
        <a href="#" id="cards_toggle">
          <%= image_tag("paymentcards.png", class: "paymentCards") %>
        </a>
      </div>

    </div>

    <div class="payment_btn" id="card_payment">

    </div>

    <%= form_tag('/checkout', method: "get", id: "payment_form") do %>
        <div id="payment_form_go">
          <div id="card_details">
            <div class="form-group">
              <label for="card-number">Card Number</label>
              <div id="card-number">
              </div>
            </div>

            <div class="form-group">
              <label for="expiration-date">Expiration Date</label>
              <div id="expiration-date">
              </div>
            </div>

            <div class="form-group">
              <label for="cvv">Security Code</label>
              <div id="cvv">
              </div>
            </div>
          </div>

          <div class="form-group info">
            <p>By clicking on “Confirm Payment”, you agree to pay the total amount shown, which includes
              Service Fees on the right and to the Terms of Service, Cancellation Policy and Refund Policy.</p>
          </div>

          <div class="form-group">
            <%= submit_tag("Confirm Payment", id: "bt_charge", onclick: "clicked_chargebt()") %>
          </div>
        </div>
    <% end %>


</div>

  <div class="large-4 payment_info small-12 columns">
    <!-- sidebar information goes here -->

    <div class="box_wrapper">

      <header id="info_top">
        <h4><%= @trip.name %></h4>

        <p><span class="bold">Driver: </span> <%= @driver.first_name %><br>
          <span class="bold">Vehicle Type: </span><%= @vehicle_type %><br>
          <span class="bold">Reference ID: </span><%= @reference_id %><br>
        </p>
      </header>

      <section id="driver_image" style="background-image:url(<%= @driver.card_img %>">
        <!--<div class="profile_set">-->
        <!--<%= image_tag(@driver.avatar_url, class: "profile_image") %>-->
        <!--</div>-->
      </section>

      <section id="bill_info">
        <table class="table">
          <tbody>
          <tr>
            <td>Tour Price</td>
            <% if @vehicle_type.downcase == 'remork/tuk tuk' %>
                <td class="charge"><%= number_to_currency((@trip.tuktuk_price), :precision => 0) %> USD</td>
            <% else %>
                <td class="charge"><%= number_to_currency((@trip.car_price), :precision => 0) %> USD</td>
            <% end %>
          </tr>
          <tr>
            <td>Pay Online</td>
                <td class="charge"><%= @online_pay %> USD</td>
          </tr>
          <tr>
            <td>Pay Onsite</td>
            <td class="charge"><%= @later_pay %> USD</td>
          </tr>
          </tbody>
        </table>
        <h2>Total Payment Now</h2>
        <h2><%= @online_pay %> $</h2>
        <p class="meta_info">
          The total amount of USD $<%= @later_pay %> is payable
          when you finish your tour. </p>
      </section>

    </div>

  </div>

</div>



