<div class="payment_wrapper row">
  <div class="form_wrapper large-7 small-12 columns">
    <h2>Tour Details</h2> 
    <%= form_tag("/book", method: "get", id: "payment_details") do %>
      
      <div id="payment_detail">
        <div class="form-group">
          <%= label_tag(:startdate, "Start Date") %>
          <%= text_field_tag(:startdate) %>
        </div>

        <div class="form-group">
          <%= label_tag(:email, "Your Email") %>
          <%= email_field(:email, :address) %>
        </div>
        
        <div class="form-group">
          <%= label_tag(:confirm_email, "Confirm Your Email") %>
          <%= email_field(:confirm_email, :address) %>
        </div>
        
        <div class="form-group phone_block">
          <%= label_tag(:phone_number, "Phone Number") %>
          <%= text_field_tag(:country_code) %>
          <%= text_field_tag(:phone_number) %>
        </div>


        <div class="form-group">
          <%= label_tag(:note, "Your Comment") %>
          <%= text_field_tag(:note) %>
        </div>
        <!-- All the necessary input fields should be here -->

      </div>
    <% end %>
    
    <br />
    <h2>Payment</h2>
    <div id="paypal-container"></div>

    <%= form_tag("/book", method: "get", id: "payment_form") do %>
      <div id="payment_form">
        <div class="form-group">
          <%= label_tag(:payment_methods, "Payment") %>
          <%= image_tag("paymentcards.png", class: "paymentCards") %>
        </div>

        <div class="form-group">
            <label for="card-number">Card Number</label>
            <div id="card-number">
            </div>
        </div>
        
        <div class="form-group">
            <label for="expiration-date">Expiration Date</label>
            <div id="expiration-date">
            </div>
        </div>

        <div class="form-group">
            <label for="cvv">Security Code</label>
            <div id="cvv">
            </div>
        </div>

        <div class="form-group info">
          <p>By clicking on “Confirm Payment”, you agree to pay the total amount shown, which includes
          Service Fees on the right and to the Terms of Service, Cancellation Policy and Refund Policy.</p>
        </div>

        <div class="form-group">
          <%= submit_tag("Confirm Payment") %>
        </div>
      </div>

    <% end %>
  </div>

  <div class="large-5 payment_info small-12 columns">
    <!-- sidebar information goes here -->
  
    <div class="box_wrapper">
    
      <header id="info_top">
        <h4><%= @trip.name %></h4>

        <p><span class="bold">Driver: </span> <%= @driver.nickname %><br >
          <span class="bold">Vehicle Type: </span>Tuk Tuk</p>
      </header>

      <section id="driver_image" style="background-image:url(<%= @driver.background_url %>">
        <div class="profile_set">
          <%= image_tag(@driver.avatar_url, class: "profile_image") %>
        </div>
      </section>

      <section id="bill_info">
        <table class="table">
          <tbody>
              <tr>
                <td>Tour Pirce</td>
                <td><%= @trip.tuktuk_price_cents %></td>
              </tr>
              <tr>
                <td>Downpayment/Deposit</td>
                <% if @trip.down_payment %>
                  <td><% @trip.down_payment %> USD</td>
                <% else %>
                  <td>0 USD</td>
                <% end %>
              </tr>
              <tr>
                <td>Booking Fee</td>
                <% if @trip.booking_fee %>
                  <td><% @trip.booking_fee %> USD</td>
                <% else %>
                  <td>0 USD</td>
                <% end %>
              </tr>
            </tbody>
          </table>
          <h1>Total Payment Now</h1>
          <h2><%= @charge %> $</h2>

          <p class="meta_info">
            The total amount of USD $<%= @later_pay %> is payable 
            when you finish your tour. </p>

      </section>
      
      <p class="share">Share your plans!</p>    
    </div>
    <!-- End of Box Wrapper ---!> 
  </div>

</div>
