<div class="payment_wrapper row">

  <div class="form_wrapper large-8 small-12 columns">

    <%= form_for(@purchase, url: {action: "create"}, html: {id: "payment_details"}) do |f| %>
        <div id="payment_detail">
          <div class="header">
            <label><h3>Booking Details</h3></label>
          </div>

          <%= f.hidden_field :purchasable_id, value: @trip.id %>
          <%= f.hidden_field :purchasable_type, value: "Tour" %>

          <%= f.hidden_field :price, value: @price %>
          <%= f.hidden_field :reference_id, value: @reference_id %>

          <%= f.hidden_field :transport_price, value: @transport_price %>
          <%= f.hidden_field :ticket_price, value: @ticket_price %>

          <div class="row">
            <div class="form-group small-12 medium-6 columns">
              <%= f.label :start_date, "Start Date" %>
              <%= f.text_field :start_date, id: "startdate", :required => "", placeholder: 'Please enter Start Date' %>
            </div>

            <div class="form-group small-12 medium-6 columns">
              <%= f.label :traveller_number, "No. of Travellers" %>
              <%= f.select :traveller_number, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8]], {}, \
               {:onChange => 'updatePrice(this);'} %>
            </div>

            <div class="form-group small-12 medium-6 columns">
              <%= f.label :pickup_time, "Pick Up Time" %>
              <%= f.text_field :pickup_time, id: "pickuptime", :required => "", placeholder: 'Please enter Pick Up Time ( eg:8am )' %>
            </div>

            <!-- <div class="form-group small-12 medium-6 columns">
              <%= f.label :driver_id,"Selected Driver" %>
              <% if @driver.present? %>
                <%= f.text_field :driver_name,value: @driver.full_name, id: "driver_name", readonly: true%>
                <%= f.hidden_field :driver_id, value: @driver.id, id:"driver_id" %>
              <% else %>
                <%= f.text_field :driver_name,value: 'No driver selected', id: "driver_name", readonly: true%>
              <% end %>
            </div> -->

            <div class="form-group small-12 medium-6 columns">
              <%= f.label :address_id, "Pick Up Address" %>
              <!--<%= f.collection_select(:address_id, Address.all, :id, :name, {:prompt => 'Please select Pickup Address', :selected => @purchase.address_id}) %>-->
              <%= f.text_field :pickup, id: "address_id", :required => "", placeholder: 'Please enter Pick Up Address', id:'address' %>   
            </div>
          </div>

          <div class="header">
            <label><h3>Traveller Details</h3></label>
          </div>
          <div class="row">
            <div class="form-group small-12 medium-6 columns">
              <%= f.label :first_name, "First Name" %>
              <%= f.text_field :first_name, :required => "", placeholder: 'Please enter First Name' %>
            </div>

            <div class="form-group small-12 medium-6 columns">
              <%= f.label :last_name, "Last Name" %>
              <%= f.text_field :last_name, :required => "", placeholder: 'Please enter Last Name' %>
            </div>
            <!--<div class="form-group small-12 medium-6 columns">-->
            <!--<%= f.label :passport_number, "Passport Number" %>-->
            <!--<%= f.text_field :passport_number, :required => "", placeholder: 'Please enter Passport Number' %>-->
            <!--</div>-->
            <div class="form-group small-12 medium-6 columns">
              <%= f.label :nationality, "Nationality" %>
              <%= f.text_field :nationality, :required => "", placeholder: 'Please enter Nationality' %>
            </div>

            <div class="form-group small-12 medium-6 columns">
              <%= f.label :email, "Email" %>
              <%= f.email_field :email, :required => "", placeholder: 'Please enter Email' %>
            </div>

            <!--<div class="form-group small-12 medium-6 columns">-->
            <!--<%= f.label :email_confirmation, "Confirm Your Email" %>-->
            <!--<%= f.email_field :email_confirmation, :required => "", placeholder: 'Please confirm Your Email' %>-->
            <!--</div>-->

            <div class="form-group columns">
              <%= f.label :phone_number, "Phone Number", class: 'phone-label' %>
              <%= f.text_field :country_code, id: "country_code", placeholder: '+country code' %>
              <%= f.text_field :phone_number, id: "phone_number", placeholder: 'Phone number' %>
            </div>

            <div class="form-group small-12 columns">
              <%= f.label :comments, "Your Comment" %>
              <%= f.text_area :comments %>
            </div>

            <div class="form-group small-12 columns">
              <%= f.submit("Confirm Booking", id: "bt_charge") %>
            </div>

          </div>
        </div>
    <% end %>

    <br/>
  </div>

  <div class="large-4 payment_info small-12 columns">
    <div class="box_wrapper">
      <header id="info_top">
        <h4><%= @trip.name %></h4>
        <section id="bill_info">
          <table class="table">
            <tbody>
            <% if @trip.ticket_price_cents > 0 %>
                <tr>
                  <td>Ticket Price</td>
                  <td class="charge"><%= number_to_currency(@ticket_price, :precision => 0) %>
                    (USD) &nbsp; X &nbsp; <strong><span id="tourist_no">1</span></strong></td>
                </tr>
            <% end %>

            <%
              if @trip.tuktuk_price > 0
            %>
                <tr>
                  <td>Transport (Tuk Tuk)</td>
                  <td class="charge"><%= number_to_currency(@transport_price, :precision => 0) %>
                    (USD) &nbsp; X &nbsp;<strong><span id="vehicle_no">1</span></strong></td>
                </tr>
            <%
              elsif @trip.car_price > 0
            %>
                <tr>
                  <td>Transport (Car)</td>
                  <td class="charge"><%= number_to_currency(@transport_price, :precision => 0) %>
                    (USD) &nbsp; X &nbsp;<strong><span id="vehicle_no">1</span></strong></td>
                </tr>
            <%
              else
            %>
                <tr>
                  <td colspan="2">Transportation included</td>
                </tr>
            <%
              end
            %>


            </tbody>
          </table>
          <h2>Total <span id="total_charge"><%= @online_pay %></span> $</h2>
          <p class="meta_info">
            The total amount of $<strong><span id="total_charge_small"><%= @online_pay %></span></strong> (USD) is
            payable
            when you arrive. </p>
        </section>
      </header>
    </div>

  </div>

</div>

<script type="text/javascript">
  // var firstInit = false;
  // function initMap(){
  //   if(!firstInit){
  //     setTimeout(function(){
  //       MapUI._init("map", "13.3671", "103.8448");
  //     }, 1000);
  //     firstInit = true
  //   }
  // }

  function updatePrice(sel) {
    var trav_no = sel.value;
    if (document.getElementById('tourist_no') != undefined)
      document.getElementById('tourist_no').innerHTML = trav_no;
    if (document.getElementById('vehicle_no') != undefined)
      document.getElementById('vehicle_no').innerHTML = '1';

    var tran_price = document.getElementById('purchase_transport_price').value;
    var tick_price = document.getElementById('purchase_ticket_price').value;

    var tota_price;
    if (tick_price != undefined && tick_price > 0)
      tota_price = parseInt(tick_price * trav_no) + parseInt(tran_price);
    else
      tota_price = parseInt(tran_price);

    if (trav_no > 4 && tran_price != undefined && tran_price > 0) {
      document.getElementById('vehicle_no').innerHTML = '2';
      tota_price = parseInt(tota_price) + parseInt(tran_price);
    }

    document.getElementById('total_charge').innerHTML = tota_price;
    document.getElementById('total_charge_small').innerHTML = tota_price;
    document.getElementById('purchase_price').value = tota_price;
  }
</script>



