<div class="card-item">

  <%= link_to(tour_path(tour)) do %>
      <%
        if normal_user_signed_in? && !current_normal_user.nil? \
        && current_normal_user.internal_user? && !tour.is_active?
      %>
          <div class="inactive-item">
            Inactive Tour
          </div>
      <%
        end
      %>
      <%= image_tag(tour.card_img, class: 'item-bg') %>
  <%
    end
  %>
  <div class="name ellipsis">
    <%= tour.name %>
  </div>
  <div class="price">
    <% if tour.tuktuk_price.to_i == 0 %>
        <%= number_to_currency(tour.car_price.to_i + tour.ticket_price_cents, :precision => 0) %>
    <% else %>
        <%= number_to_currency(tour.tuktuk_price.to_i+ tour.ticket_price_cents, :precision => 0) %>
    <% end %>
  </div>
  <div class="divider offset"></div>
  <div class="review offset">
    <div class="rating left">
      <%= render 'partials/rating', rating: tour.rating > 0 ? tour.rating : 5 %>
    </div>
    <span class="review-num right">
        <strong><%= pluralize(tour.comments.size, 'review') %></strong>
      </span>
  </div>
</div>
