<div class="container trip_wrapper">

  <% if @tour.images.where(is_hero: true).any? %>
      <div class="trip-cover-img" data-img="<%= @tour.images.where(is_hero: true).first.url %>">
      </div>
  <% elsif @tour.images.any? %>
      <div class="trip-cover-img" data-img="<%= @tour.images.first.url %>">
      </div>
  <% end %>

  <ul class="clearing-thumbs hide" data-clearing>
    <%= @tour.images.each do |image| %>
        <li>
          <%= image_tag(image.url) %>
        </li>
    <% end %>
  </ul>

  <div class="trip_head_wrapper">
    <div class="row">
      <section id="trip_header">

        <div class="large-9 small-12 trip_top_head columns">
          <div class="trip-title">
            <h1><%= @tour.name %></h1>
          <span class="rating ">
            <% rating = if @tour.comments.present? then
                          tr = @tour.comments.pluck(:rating); tr.sum * 2 / tr.size / 2.0
                        else
                          5
                        end %>
            <%= render 'partials/rating', rating: rating %>
          </span>
          </div>
          <div class="meta_head">
            <section class="meta_block left">
              <%= image_tag("tour_distance.png", class: "distance-logo") %>
              <p>
                <span class="main-value block center">
                  <%= @tour.distance.blank? ? "0" : @tour.distance %> km
                </span>
                <span class="meta">Distance</span>
              </p>
            </section>

            <section class="meta_block left">
              <%= image_tag("tour_duration.png", class: "trip-logo") %>
              <p>
                <span class="main-value block center">
                  <%= @tour.duration.blank? ? "0" : @tour.duration %>
                </span>
                <span class="meta">Duration</span>
              </p>
            </section>

            <section class="meta_block left">
              <%= image_tag("tour_checkpoint.png", class: "trip-logo") %>
              <p>
                <span class="main-value block center">
                  <%= @tour.checkpoint_num.blank? ? "0" : @tour.checkpoint_num %>
                </span>
                <span class="meta">Checkpoints</span>
              </p>
            </section>
          </div>
        </div>

        <div class="large-3 small-12 trip_top_info columns">
          <% if @tour.tuktuk_price.to_i != 0 %>
              <h1><span><%= @tour.tuktuk_price.to_i %></span><span> $</span></h1>
          <% else %>
              <h1><span><%= @tour.car_price.to_i %></span><span> $</span></h1>
          <% end %>
          <div class="meta_func">
            <a href="#drivers-selection" class="trip_book_now">Book Now</a>
            <a href="#" class="share"><i class="fa fa-herat-o"></i> Share</a>
          </div>
        </div>

      </section>
    </div>
  </div>

  <div class="trip_detail_wrapper">
    <div class="row">
      <div id="detail-content" class="small-12 large-12 columns">
        <div class="row">
          <% if @tour.highlight_html? %>
              <div class="highlight small-12 large-5 columns">
                <label class="header">Highlight</label>
                <%= @tour.highlight_html.html_safe %>
              </div>
          <% end %>
          <% if @tour.include_html? || @tour.exclude_html? %>
              <div class="include-exclude small-12 large-4 columns">
                <% if @tour.include_html? %>
                    <div class="include ">
                      <label class="header">Include</label>
                      <%= @tour.include_html.html_safe %>
                    </div>
                <% end %>
                <% if @tour.exclude_html? %>
                    <div class="exclude">
                      <label class="header">Exclude</label>
                      <%= @tour.exclude_html.html_safe %>
                    </div>
                <% end %>
              </div>
          <% end %>
          <% if @tour.tour_start? || @tour.tour_end %>
              <div class="tour-start-end small-12 large-3 columns">
                <label class="header">Start Time</label>
                <% if @tour.tour_start? %>
                    <%= @tour.tour_start %>
                <% end %>
                <label class="header">End Time</label>
                <% if @tour.tour_end %>
                    <%= @tour.tour_end %>
                <% end %>
              </div>
          <% end %>
        </div>

        <div class="row">
          <div class="detail">
            <div class="trip-label"><h3>Tour Description</h3></div>

            <div class="trip_content">
              <%= @tour.content.html_safe %>
            </div>
          </div>

          <div id="drivers-selection" class="driver-container">
            <header class="content_head">
              Drivers available for this tour
            </header>
            <%= render :partial => 'tours/drivers', :object => @drivers %>
            <p class="pagination">
              <%= link_to_next_page(@drivers, 'More Drivers', :remote => true, class: "hidden") %>
            </p>
            <%= render 'comments/comments', target: @tour %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
