<div class="container trip_wrapper">

  <% if @tour.images.where(is_hero: true).any? %>
      <div class="trip-cover-img" data-img="<%= @tour.images.where(is_hero: true).first.url %>"></div>
  <% elsif @tour.images.any? %>
      <div class="trip-cover-img" data-img="<%= @tour.cover_image %>"></div>
  <% end %>

  <ul class="clearing-thumbs hide" data-clearing>
    <% @tour.images.each do |image| %>
        <li>
          <%= image_tag(image.url) %>
        </li>
    <% end %>
  </ul>

  <div class="trip_head_wrapper">
    <div class="row">
      <section id="trip_header">

        <div class="large-9 small-12 trip_top_head columns">
          <div class="trip-title">
            <h1><%= @tour.name %></h1>
          <span class="rating ">
            <%= render 'partials/rating', rating: @tour.rating > 0 ? @tour.rating : 5 %>
          </span>
          </div>
          <div class="meta_head">
            <section class="meta_block">
              <%= image_tag("tour_distance.png", class: "distance-logo") %>
              <p>
                <span class="main-value block center">
                  <%= @tour.distance.blank? ? "0" : @tour.distance %> km
                </span>
                <span class="meta">Distance</span>
              </p>
            </section>

            <section class="meta_block">
              <%= image_tag("tour_checkpoint.png", class: "trip-logo") %>
              <p>
                <span class="main-value block center">
                  <%= @tour.checkpoint_num.blank? ? "0" : @tour.checkpoint_num %>
                </span>
                <span class="meta">Checkpoints</span>
              </p>
            </section>

            <section class="meta_block">
              <%= image_tag("tour_duration.png", class: "trip-logo") %>
              <p>
                <span class="main-value block center">
                  <%= @tour.duration.blank? ? "0" : @tour.duration %> hrs
                </span>
                <span class="meta">Duration</span>
              </p>
            </section>

          </div>
        </div>

        <div class="large-3 small-12 trip_top_info columns">
          <% if @tour.tuktuk_price.to_i != 0 %>
              <h1><span><%= @tour.tuktuk_price.to_i + @tour.ticket_price_cents %></span><span> $</span></h1>
          <% else %>
              <h1><span><%= @tour.car_price.to_i + @tour.ticket_price_cents %></span><span> $</span></h1>
          <% end %>
          <div class="meta_func">
            <%= link_to "BOOK NOW", "/book/#{@tour.id}/?vehicle_type=#{@vehicle_type}",class: "trip_book_now" %>
          </div>
        </div>

      </section>
    </div>
  </div>

  <div class="trip_detail_wrapper">
    <div class="row">
      <div id="detail-content">

        <ul class="tabs" data-tab>
          <li class="tab-title tab-menu-item small-6 medium-4 columns active"><a href="#panel1">Highlight</a></li>
          <li class="tab-title tab-menu-item small-6 medium-4 columns"><a href="#panel2">Include</a></li>
          <li class="tab-title tab-menu-item small-6 medium-4 columns"><a href="#panel3">Schedule</a></li>
        </ul>

        <div class="tabs-content">
          <div class="content active" id="panel1">
            <% if @tour.highlight_html? %>
                <div class="highlight small-12 columns">
                  <%= @tour.highlight_html.html_safe %>
                </div>
            <% end %>
          </div>

          <div class="content" id="panel2">
            <% if @tour.include_html? || @tour.exclude_html? %>
                <div class="include-exclude small-12 columns">
                  <% if @tour.include_html? %>
                      <div class="include ">
                        <label>Include</label>
                        <%= @tour.include_html.html_safe %>
                      </div>
                  <% end %>
                  <% if @tour.exclude_html? %>
                      <div class="exclude">
                        <label>Exclude</label>
                        <%= @tour.exclude_html.html_safe %>
                      </div>
                  <% end %>
                </div>
            <% end %>
          </div>

          <div class="content" id="panel3">
            <% if @tour.tour_start? || @tour.tour_end %>
                <div class="tour-start-end small-6 columns">
                  <label class="header">Start Time</label>
                  <% if @tour.tour_start? %>
                      <%= @tour.tour_start %>
                  <% end %>
                </div>
                <div class="tour-start-end small-6 columns">
                  <label class="header">End Time</label>
                  <% if @tour.tour_end %>
                      <%= @tour.tour_end %>
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>

        <%
          if !@tour.video_url.nil?
        %>
            <div class="tour-video-container">
              <div class="flex-video widescreen">
                <iframe src="<%= @tour.video_url %>" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              </div>
            </div>

        <%
          end
        %>

        <div class="detail">
          <div class="trip-label"><h3>Tour Description</h3></div>

          <div class="trip_content">
            <%= @tour.content.html_safe %>
          </div>
        </div>

        <div id="drivers-selection" class="driver-container">
          <!--<header class="content_head">-->
          <!--Drivers available for this tour-->
          <!--</header>-->
          <%=
            # render :partial => 'tours/drivers', :object => @tour_drivers
          %>
          <p class="pagination">
            <%=
              # link_to_next_page(@tour_drivers, 'More Drivers', :remote => true, class: "hidden")
            %>
          </p>
          <%= render 'comments/comments', target: @tour %>
        </div>

      </div>
    </div>


  </div>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-569e699d3dd269af"></script>
